<h1>RegiterDetails#index</h1>
<p>Find me in app/views/regiter_details/index.html.erb</p>
<form>
<% text_field :register_detail, :email %>
<% text_field :register_detail, :email_confirmation %>

</form>
